<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <ConnectionStrings>
        <add name="TutinetDB"
            connectionString="Data Source=DESKTOP-SALICIE\SQLRISK;Initial Catalog=TutinetDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </ConnectionStrings>
</configuration>